name: Release
on:
  workflow_dispatch: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Tools
        uses: yokawasa/action-setup-kube-tools@v0.8.0
        with:
          setup-tools: |
            yq
      - name: Create Tag and Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.github_token }}
          git-user-name: ${{ github.repository_owner }}
          git-user-email: "${{ github.repository_owner }}@users.noreply.github.com"
          output-file: "false"
          pre-commit: ".github/release.js"
          skip-version-file: "true"
          release-count: "0"
      - name: Create Release
        uses: actions/create-release@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
      - name: Prepare next iteration
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: |
          yq eval -i '.images[0].newTag = "latest" ' ./config/manager/kustomization.yaml
      - name: push
        uses: github-actions-x/commit@v2.9
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore(release): prepare for next development iteration"
          files: config/manager/kustomization.yaml
          name: ${{ github.repository_owner }}
          email: "${{ github.repository_owner }}@users.noreply.github.com" 
      